@model WebNotepad.Models.Note;


@{
    ViewData["Title"] = "Create New Note";
}

<head>
    <link rel="stylesheet" href="~/css/new-note/new-note.css" />
</head>

<div class="new-note_content">
    <h1 class="title ">Create a New Note</h1>

    <form>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="inputEmail4">Name of new note</label>
                    <input type="text" class="form-control shadow rounded" id="">
                </div>
                <div class="form-group mb-5">
                    <label class="col-form-label col-form-label-lg" for="inputEmail4">Description</label>
                    <input type="text" class="form-control shadow rounded" id="">
                </div>
                <div class="form-group pt-5">
                    <button type="reset" class="btn btn-warning w-50 shadow rounded">Reset All</button>
                </div>
                <div class="form-group pt-3">
                    <button type="submit" class="btn btn-success w-50 shadow rounded">Create New Note</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="inputEmail4">Text of new note</label>
                    <textarea class="form-control shadow rounded" id="" rows="24"></textarea>
                </div>
            </div>
        </div>
    </form>

</div>