@model WebNotepad.Models.Note;


@{
    ViewData["Title"] = "Create New Note";
}

<head>
    <link rel="stylesheet" href="~/css/new-note/new-note.css" />
</head>

<div class="new-note_content">
    <h1 class="title">Create a New Note</h1>

</div>