@model WebNotepad.Models.ViewModels.ListOfNotesVM
@{
    ViewData["Title"] = "List Of Notes";
}

<head>
    <link rel="stylesheet" href="~/css/list-of-notes_index/list-of-notes.css" />
</head>

<div class="listofnotes_content">
    <h1 class="title">List Of Notes</h1>
    <ul class="list">
        <li class="list-item">
            <a class="item-link" asp-controller="Note" asp-action="Index">
                <span class="preview-title">Title</span>
            </a>
            <a class="item-link" asp-controller="Note" asp-action="Index">
                <span class="preview-descr">This is a start of descriptions...</span>
            </a>
            <a class="item-link" asp-controller="Note" asp-action="Index">
                <span class="preview-time">02.04.2024 14-05</span>
            </a>
            <span class="preview-controls"></span>
        </li>
        <li class="list-item">
            <a class="item-link" asp-controller="Note" asp-action="Index">
                <span class="preview-title">Title</span>
            </a>
            <a class="item-link" asp-controller="Note" asp-action="Index">
                <span class="preview-descr">This is a start of descriptions...</span>
            </a>
            <a class="item-link" asp-controller="Note" asp-action="Index">
                <span class="preview-time">02.04.2024 14-05</span>
            </a>
            <span class="preview-controls"></span>
        </li>
        <li class="list-item">
            <a class="item-link" asp-controller="Note" asp-action="Index">
                <span class="preview-title">Title</span>
            </a>
            <a class="item-link" asp-controller="Note" asp-action="Index">
                <span class="preview-descr">This is a start of descriptions...</span>
            </a>
            <a class="item-link" asp-controller="Note" asp-action="Index">
                <span class="preview-time">02.04.2024 14-05</span>
            </a>
            <span class="preview-controls"></span>
        </li>

        @* @if (Model.Notes.Count > 0)
        {
            foreach (Note note in Model.Notes)
            {
                <li class="list-item">
                    <div class="preview-title">Title</div>
                    <div class="preview-descr">This is a start of descriptions...</div>
                    <div class="preview-time">02.04.2024 14-05</div>
                    <div class="preview-controls"></div>
                </li>
            }
        } *@
        
    </ul>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {

        });
    </script>
}

